<p>{{text}}</p>
<form>
<div class="row justify-content-center">
    <button type="submit" formaction="../download/{{name}}?id={{docId}}" formmethod="post" class="btn btn-outline-success">Сохранить</button>
    <input type="submit" formmethod="post" formaction="../delete/{{name}}?id={{docId}}" class="btn
        btn-outline-danger" value="Удалить" >

</div>
</form>